{% extends 'pizdech.html' %}

{% block title %}
О Нигеров
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление статьи </h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите имя негра"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите краткое описание негра"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите жизнь негра"></textarea><br>
        <input type="submit" class="btn btn-success" value="Избить негра">
    </form>
</div>
{% endblock %}

